@font-face {
    font-family: Dalek;
    src: url(/assets/fonts/Dalek.ttf);
}
@font-face {
    font-family: MortalKombat1;
    src: url(/assets/fonts/MK4.TTF);
}
@font-face {
    font-family: MortalKombat2;
    src: url(/assets/fonts/mk5style.ttf);
}

body {
    background-image: url(/assets/images/background2.jpg);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.main-container {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.battleTitle {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.battleTitleText {
    font-family: Dalek;
    font-size: 48px;
    color: #ffffff;
}

.versus {
    font-family: MortalKombat1;
    padding-top: 144px;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.versusText {
    /* font-family: ; */
    font-size: 48px;
    color: #ffffff;
}

.btnFight {
    background: none;
    border-width: 0px;
}

.btnImage {
    height: 100px;
    padding-top: 40%
}

.fight {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.heroes-container {
    display: flex;
    justify-content: center;
}

.heroes-container .heroImage {
    height: 250px;
}
.heroImage.dwarf:hover {
    content: url(/assets/images/dwarf-details.png);
}
.heroImage.dwarf:target {
    content: url(/assets/images/dwarf_selected2.png);
}

.heroImage.sprite:hover {
    content: url(/assets/images/sprite-details.png);
}

.heroImage.dragon:hover {
    content: url(/assets/images/dragon-details.png);
}

.hero-selection {
    background: none;
    border-width: 0px;
}

.p1-clicked-dwarf {
    content: url(/assets/images/dwarf_selected.png);
}

.p1-clicked-dwarf {
    content: url(/assets/images/dwarf_selected.png);
}
